@import "../../_globalColor";

.achievement-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
}
.subTitle {
  color: $subTitle;
}
.achievement-card {
  display: flex;
  flex-direction: column;
  align-items: center; // centers content horizontally
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  &-image {
    width: 100px; // small size
    height: 100px; // keep aspect ratio, optional: auto
    object-fit: contain; // maintain aspect ratio
    margin-bottom: 20px;
  }

  &-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &-description {
    font-size: 16px;
    color: $subTitle; // or another color variable
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
