@import "../../_globalColor";

.achievement-heading {
  font-size: 48px; // slightly smaller than before
  font-weight: 400;
  margin: 0px;
}

.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px 0 30px 0; // less spacing
}

.achievement-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px; // smaller padding
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08); // lighter shadow

  &-image {
    width: 80px; // smaller image
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
  }

  &-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &-description {
    font-size: 14px;
    color: $subTitle;
  }
}

/* Media Queries */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .achievement-heading {
    font-size: 28px;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 14px;
    line-height: normal;
    text-align: center;
  }
}
